Package: zfsbackup
Version: 2022.27.1
Section: server
Priority: optional
Architecture: all
Essential: no
Installed-size: 25
Maintainer: Volker Süß
Description: ZFS Backup von SRC-Dataset auf DST-Dataset - auch mit encryption
