Package: zfsbackup
Version: 2026.32
Section: server
Priority: optional
Architecture: allsumme(
Essential: no
Installed-size: 25
Maintainer: Volker Süß
Description: ZFS Backup von SRC-Dataset auf DST-Dataset - auch mit encryption
